:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --accent-color: #ffc107;
}
body {margin: unset !important}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.content {
    flex: 1; 
}
  
.header-row{
    padding: 25px;
    background: var(--secondary-color);
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.justify-content-center{
    justify-content: center;
}
.video-div{
    /* margin: 20px;
    width: 35% !important;
    height: 35% !important;
    border-radius: 50%; 
    overflow: hidden; */

    margin: 20px auto;
      width: 25%; /* Adjust the width as needed */
      padding-top: 25%; /* Adjust the padding to control the vertical size */
      position: relative;
      border-radius: 50%; /* Make it round */
      overflow: hidden;
}
.my-cam{
    transform: scaleX(-1); 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

}

.hide-me{
    display: none !important;
}

.snap-btn{
    margin: 5px auto;
    font-size: 2rem;
}

.image-viewer{
    max-height: 20rem;
    width: 100%;
}

@media (max-width: 768px) {
    .upload-action-btn{
        font-size: 10px;
    }
   .image-select-container{
       margin: auto;
   }
}
@media (max-width: 768px) {
   .image-select-container{
       margin: auto;
   }
}
.image-select-btn{
    font-size: 14px;
}

.close-btn{
    justify-content: flex-end;
    padding: 0rem 0rem 1rem 0rem;
}


.flip-camera{
    outline: none !important;
}
.btn {
    cursor:pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px none;
    outline: none;
    font-weight: bold;
    font-family: fangsong;
    min-width: 100px;
    background: var(--secondary-color);
    color: var(--primary-color);
}
.title{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 35px;
}
.footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 15px;
}
.footer a{
    margin: 0 10px;
    text-decoration: none;
    color: var(--accent-color);
}

.name-row {
    padding: 50px 0px;
}
.name-row input {
    margin: 5px 10px;
    padding: 5px;
    outline: none;
    border: 1px solid #c7c7c7ee;
    border-radius: 5px;
    font-family: fangsong;
    color: #494848;
    font-size: 18px;
}
.btn:disabled{
    opacity: 0.5;
    cursor: auto;
}

.name {
    font-family: fangsong;
    font-weight: bold;
    color: #4b4b4b;
}